M G R R M C Y C M Y G M G G Y
C B R M R C M M G B R C C G C
R R Y C Y G M C C C B R B C R
Y G R Y B M M R R B C R M G B
M R M M C G R B C Y B B C G B
Y B R G G R R G M G C Y M M M
R C B B R C B B Y R R M G M M
R C B B M M R G Y B C B B R G
B M Y M C B Y G Y B B B C Y B
G R R Y C B M C B Y Y C B Y B
Y Y Y C G B B C C B Y G Y C Y
M G Y C M M Y B C M B R C R R
R R G B B G M M C Y G G Y B C
C R B C C B Y G M M Y G B C Y
C B B M R Y B M G B C Y Y G Y
