M Y G C C G B M Y G M R C C C R
G G B R Y Y Y Y B G G B C C Y R
Y M M C B Y B B C M R M Y M M M
C G M C B M C B R B G B G C G Y
B M Y M Y B B G M G G R G R R C
C Y R M R G C M B M Y Y R G B G
Y M B R G G C M R M G B Y Y R Y
B C M C B R Y M B R M M B R M G
Y G M Y C M B R C M Y Y R M C B
C G R C M G M C M G Y R B C R M
C Y R G G R G B R R Y M R Y Y R
M R B Y G C Y G B M B G R B Y G
B G R G B Y Y B C G M Y G R Y C
Y C G R C R C Y C Y C B B C Y G
Y Y R C G R G M G R B B R G C M
R M B Y Y M C G Y B B M Y G B G
